body {
    background-color: rgb(248, 192, 248);
    color: black;
    font-family: 'Martel', serif;
}

.form {
    /* text-align: center; */
    background-color: lightskyblue;
    color: white;
    padding: 20px 50px;
    margin: 20px;
}

table, th, td {
	border: 3px darkblue solid;
    text-align: center;
}

table {
    /* getting rid of the double borders */
    border-collapse: collapse;
    /* making table span entire web screen --width of web page */
    width: 100%;

    margin: 30px 0px 10px 0px;
}

th {
    /* making height of table headers taller */
    height: 30px;
}

/* cool hover animation! */
td:hover {
    background-color: lightblue;
}

.navbar ul{
    padding: 10px;
}

.navbar li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

button {
    margin: 20px 0px 0px 0px;

    border: solid 1px transparent;
    border-radius: 4px;

    padding: 10px 10px;

    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #55bbff;
}

button:hover {
    color: #55bbff;
    border-color: currentColor;
    background-color: white;
}

.jumbotron {
    background: url("https://i.pinimg.com/originals/7d/7c/79/7d7c79f57f2bf8fc2b43b9a5e5a2a96b.gif");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.jumbotron .display-4 {
    font-family: 'Parisienne', cursive;
}

.jumbotron p {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 5px 10px 5px 10px;
}

.jumbotron .btn {
    background-color: rgb(201, 147, 201, 0.5);
    border: 2px solid white;
}

.jumbotron .btn:hover {
    color: white;
    border-color: currentColor;
    background-color: rgb(201, 147, 201, 1);
}

.logo {
    width: 20%;
}

a {
    width: 10%;
}